{% extends 'base.html' %}

{% block content %}

<div class="container">
    <!--Header Section-->
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>Let's own jalopies together!</h2>
            <h5>Purchase amazing jalopies from developers.</h5>
            <div>
                <button class="btn btn-primary">View Our Jalopies</button>
            </div>
        </div>
        <!--Header Image-->
        <div class="col-12 col-md-6">
            <img class="header-image" src="../../static/images/jalopy1.png" alt="Jalopy">
        </div>
    </header>

    <section class="row">
        <div class="col-12" id="middle-text">
            <h2>Find your jalopy!</h2>
            <p>You can harness the power of a jalopy to cruise the open roads!</p>
        </div>
    </section>

    <section class="row" id="features-section">
        <div class="col-12 col-md-4">
            
            <h4>Dedicated jalopies</h4>
            <p>
                If you are a fan of using traditional jalopies, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-4">
            
            <h4>Reliable jalopies</h4>
            <p>
                If you want a jalopy from that'll run from start to finish!
            </p>
        </div>

        <div class="col-12 col-md-4">
            
            <h4>Backed By a love for jalopies</h4>
            <p>
                All jalopies come with a 10 year jalopy promise.
            </p>
        </div>
    </section>
</div>


{% endblock content %}